@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Fredericka+the+Great|Homemade+Apple|IM+Fell+Double+Pica&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kranky|Limelight|Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Arizonia|Frijole|Miltonian|Trade+Winds&display=swap');

@import url('https://fonts.googleapis.com/css?family=Aclonica|Chelsea+Market|Chewy|Emilys+Candy|Griffy|Knewave|Luckiest+Guy|Ribeye&display=swap');


* {
  margin: 0;
  padding: 0;
}
body {

  background-image: url('https://wallpapercave.com/wp/wp1966308.jpg');
}

.slideInLeft {
  animation-duration: 1s;

}

.container {
  max-width: 100%;
  margin: 0;
}
.fadeIn {
  animation-duration: 0.3s;
}

header {

  background-color: #101010;
  color: beige;
  text-align: center;
  height: 150px;
  margin: 0;
  margin-top: 0;
}

h1 {
  padding-top: 50px;
  font-family: 'Limelight', sans-serif;
  font-size: 300%;
  letter-spacing: 1em;
  opacity: 0.8;
}

.game-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 53px;
}

.box {
  box-sizing: border-box;
  background-color: transparent;
  height: 100px;
  width: 100px;
  border: 5px solid gray;
  border-top: hidden;
  border-left: hidden;
  border-collapse: collapse;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  font-family: 'Chelsea Market', sans-serif;
  font-weight: 800;
  color: beige ;
  opacity: 0.7;
}
.three, .six, .nine {
  border-right: hidden;
}

.seven, .eigth, .nine {
  border-bottom: hidden;
}

#row-1, #row-2, #row-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;


}
button {
  display: block;
  margin: auto;
  padding: 0;
  margin-top: 50px;
  width: 140px;
  height: 40px;
  background-color: #1affbf;
  font-size: 20px;
  font-family: 'Aclonica';
  letter-spacing: 0.1em;
  color: black;
  font-weight: 700;
  font-size: 1em;
  line-height: 100%;
  border-radius: 0.8em;
  border: 0;
  outline: none;
}
button:hover {
  background-color: #fcff1a;
	color: black;
	font-size: 18px;
  box-sizing: border-box;
	transition: 300ms linear;
}

.zoomIn {
  animation-duration: 1s;
  animation-delay: 0s;
}

.flipInX {
  animation-duration: 1s;
  animation-delay: 0s;
}

.flipInY {
  animation-duration: 1s;
  animation-delay: 0s;
}

#game-status {
  color: #f7b5c0;
  text-align: center;
  margin-top: 30px;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Chelsea Market';
  letter-spacing: 0.3em;
  transition-delay: 1s;

}

.hidden {
  visibility: hidden;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    letter-spacing: 0;
  }
  #game-status {
    letter-spacing: 0.3em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
